<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<h1>Edit this User</h1>
<hr>
<form method="post" action="updateUser">

  Id:<input type="text" th:value="${user.getId()}" name="id" readonly><br><br>
  Username:<input type="text" th:value="${user.getUsername()}" name="username"><br><br>
<input type="hidden" th:value="${user.getPassword()}" name="password">

  <input type="submit" value="EDIT!!!">

</form>

</body>
</html>